<h1>Number Checker</h1>


<% if flash[:notice] %>
  <div class="flash-notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
  <div class="flash-error"><%= flash[:error] %></div>
<% end %>

<% if !@even_check.nil? %>
  <p>Your number <%= @number %> is <%= @even_check %> </p>
<% else %>
  <p>Please select number to start.</p>
<% end %>

<hr />

<%= form_tag(number_checker_path) do %>
  <label>Enter a number: </label>
  <input name="number" placeholder="What number should we check?" />
  <input name="Submit" type="submit" />
<% end %>
